{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/style.css' %}">

<div class="title">
    <h1>AI Interview Practice</h1> <br>
</div>
<div class="title">
    <p>Created by Henry van Weelderen</p>
</div>
<br>
<body>
    <div class = "container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
<br>
<br>
<div class="container">
    <p>Please wait a few moments after pressing Upload</p>
</div>
</body>